* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url("../images/marvel.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



h1 {
    text-align: center;
    margin: 20px;
    padding: 20px;
    font-size: 3em;
    font-family: "protest Revolution", sans-serif;
    font-weight: 900;
    color: #fff;
    text-shadow: -6px 6px 3px #f00101;
    letter-spacing: 2.5px;
    transform: scaleY(1.5);
}



.welcome-page {
    width: 90%;
    max-width: 600px;
    background-color: hsl(0deg 0% 0% / 70%);
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    font-family: "Protest Revolution", sans-serif;
    border-radius: 10px;
    color: #fff;
}

.welcome-page p {
    padding: 10px;
    margin: 5px 0;
    font-size: 1.9em;
    letter-spacing: 0.5px;
    font-weight: 800;
}



#welcome-tag {
    font-size: 2em;
    margin: 10px 0;
}

#start-btn {
    width: 10em;
    margin: 30px 10px 0;
    ;
    padding: 10px;
    font-size: 1.5em;
    font-weight: 700;
    font-family: oswald, sans-serif;
    border-radius: 5px;
    background-color: hsl(240, 100%, 50%);
    color: #fff;
    border: none;
    cursor: pointer;
}

#start-btn:hover {
    background-color: hsl(240, 80%, 90%);
    color: #000;
    transition: 1s;
}

#instruction {
    margin-top: 2.5em;
}

#instruction h2 {
    font-size: 2em;
    margin-bottom: 1em;
    text-decoration: underline;
    letter-spacing: 1px;
}

#instruction p {
    font-size: 1.5em;
}

.hide {
    display: none;
}

/*Applying style for everything quiz container*/

.quiz-container {

    text-align: left;
    background-color: hsl(0deg 0% 0% / 70%);
    width: 90%;
    max-width: 900px;
    color: #fff;
    margin: 80px auto;
    padding: 30px;
    border-radius: 10px;
    font-family: "Protest Revolution", sans-serif;
}

#question-tracking {
    margin: 20px 0;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: end;
}

#questions {

    font-size: 1.6em;
    margin: 25px 0;

}

.quiz .btn {
    background-color: #4e4d4d42;
    color: #fff;
    font-weight: 900;
    width: 100%;
    border: 1px solid #fff;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 8px;
    font-family: "Protest Revolution", sans-serif;
    font-size: 1.3em;
    cursor: pointer;

}

.quiz .btn:hover {
    box-shadow: 5px 5px 5px #a8a8a8;
    transition: 0.5s;
}

#next-btn,
.submit-btn {
    margin: 20px auto;
    padding: 10px 40px;
    font-size: 15px;
    border-radius: 8px;
    border: none;
    background-color: hsl(240, 100%, 50%);
    color: white;
    font-weight: 600;
    cursor: pointer;
    display: none;
}

#next-btn:hover,
.submit-btn:hover,
.home-btn:hover {
    background-color: hsl(240, 80%, 90%);
    color: #000;
    transition: 1s;
}

.correct {

    background: linear-gradient(180deg, #bdf0bd, #17cf17, #76d376);
    color: #000;
}

.incorrect {
    background: linear-gradient(180deg, #f3afaa, #f76d63, #f36c62);
    color: #000;
}

.btn:disabled {
    cursor: no-drop;
}

img{
    width: 70%;
    position: relative;
    left: 15%;
    display: none;
}

/*Review Div*/

.review {
    text-align: center;
    background-color: hsl(0deg 0% 0% / 70%);
    width: 90%;
    max-width: 900px;
    color: #fff;
    margin: 30px auto;
    padding: 10px;
    border-radius: 10px;
    font-family: "Protest Revolution", sans-serif;

}

.review h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    font-weight: 500;
}

.star {
    margin: 0 5px 15px;
    font-size: 1.6em;
    color: #5c5b5b;
    cursor: pointer;
}

.star:hover {
    transform: scale(1.2);
}

label {
    font-size: 1.5em;
    font-weight: 500;
}

#suggestion {
    margin: 20px;
    font-size: 1.5em;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    width: 90%;
}

.submit-btn {
    display: block;

}

.colored {
    color: gold;
}



.home-btn {
    width: 20em;
    margin: 20px auto;
    padding: 10px 40px;
    font-size: 15px;
    border-radius: 8px;
    border: none;
    background-color: hsl(240, 100%, 50%);
    color: white;
    font-weight: 600;
    cursor: pointer;
    display: none;
}

/*Footer*/

footer{
    margin-top: auto;
}

#copyright {
    margin: 40px 10px auto;
    color: white;
    font-family: 'Protest Revolution', sans-serif;
    letter-spacing: 2px;
    text-align: center;
}