*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-image: url("../images/marvel.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}



h1{
    text-align: center;
    margin: 20px;
    padding: 20px;
    font-size: 3em;
    font-family: "protest Revolution", sans-serif;
    font-weight: 900;
    color: #fff;
    text-shadow: -6px 6px 3px #f00101;
    letter-spacing: 2.5px;
    transform: scaleY(1.5);
}



.welcome-page{
    width: 90%;
    max-width: 600px;
    background-color: hsl(0deg 0% 0% / 70%);
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    font-family: "Protest Revolution", sans-serif;
    border-radius: 10px;
    color: #fff;
}
.welcome-page p {
padding: 10px;
margin: 5px 0;
font-size: 1.8em;
letter-spacing: 0.5px;
font-weight: 800;
}

label{
padding: 10px;
margin: 20px 0;
font-size: 1.5em;
font-weight: 500;
}

#name{
height: 2em;
width: 80%;
margin: 20px 0;
border: 2px solid #222;
text-align: center;
border-radius: 5px;
}

#name-btn{
    margin: 5px;
    padding: 3px;
}

#welcome-tag{
    font-size: 2em;
    margin: 10px 0;
}

#start-btn{
    width: 10em;
    margin: 10px 0;
    padding: 10px;
    font-size: 1em;
    font-weight: 700;
    font-family: oswald, sans-serif;
    border-radius: 5px;
    background-color: hsl(240, 100%, 50%);
    color: #fff;
    border: none;
}

#start-btn:hover{
    background-color: hsl(240, 80%, 90%);
    color: #000;
    transition: 1s;
}

.hide{
    display: none;
}

@media screen and (min-width:900px) {
    h1{
        font-size: 5em;
    }
}
